@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background: linear-gradient(60deg, #FC466B 0%, #3F5EFB 100%);
  color: #FFF;



}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff3d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  animation: expandWidth 1s ease-in-out forwards;

}

.header {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 20px;

  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;


}

.header-online {



  display: flex;
  ;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, #e948797d 0%, #7d74e5bd 100%);

  padding: 4px;
  /* border-radius: 23px; */
  background-color: #6f5beb3d;

  box-sizing: content-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  /* border: 1px dashed #ffffff; */
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-size: 3rem;



}

.main-content {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  border: 0px DOTTED #dddddd4f;
  border-radius: 8px;
  min-height: 200px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Center horizontally */
  text-align: center;
  /* Align text in the center */
  font-size: 2rem;
  border: 6px dotted #dddddd4f;
}

.right {
  background: linear-gradient(60deg, #FC466B 0%, #3F5EFB 100%);
  background: linear-gradient(60deg, #e9487933 0%, #505cee59 100%);
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Center horizontally */
  text-align: center;
  /* Align text in the center */
  font-size: 2rem;
}



.inline-content {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: #ed5f5fad;

  padding: 2px;
  border: 1px dashed #ccc;
  font-size: 1rem;


}

.inline-content img {

  height: 2rem;
}

.header-inline-content {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px;
  text-align: center;
}

.header-inline-content img {
  height: 3rem;
}


.hidethediv {
  display: none;

}

.no-div-border {
  border-width: 0px !important;
  ;
}


.online {
  background-color: #ed5f5fad;
  padding: 5px;
  border: 1px dashed #ccc;
  font-size: 1rem;
  font-weight: 600;
}

.medium {
  font-family: 'Raleway';
}

.time {
  font-family: 'Raleway';
}

.tutor {
  font-family: 'Roboto';
  font-size: 3rem;


}

.tutor-desc1 {
  font-size: 1rem;
}

.tutor-desc2 {
  font-size: 1rem;
  text-align: center;
  font-family: 'Raleway';
}

.gradient-line {
  background: linear-gradient(60deg, #e9487933 0%, #505cee59 100%);

  padding: 5px 20px;
  border: 1px solid #ffffff47;
  border-radius: 50px;
  margin-bottom: 5px;
}

.al-year {
  font-family: "Fredericka the Great", serif;

}

.extra-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.extra-content p:not(.tutor) {
  align-self: flex-end;

  margin: 0;
}




.extra-content {
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed #ffffff;


}

.show-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.show-more-btn:hover {
  background: #0056b3;
}





.badge {
  flex: none;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 666px;
  background-color: #6F5BEB;
  border: 4px solid #fff;
  box-sizing: content-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  animation: ribbon 0.15s ease-in-out;
  position: relative;
}

.badge.is-hidden {
  display: none;
}

.badge .ribbon {
  width: 10px;
  height: 15px;
  display: block;
  transform: rotate(30deg);
  background-color: #6F5BEB;
  z-index: -1;
  position: absolute;
  margin-top: 5px;
  transform-origin: 0 0;
  margin-left: 2px;
  box-shadow: 2px 0 0 0 #fff;
  visibility: hidden;
}

.badge .ribbon:not(.is-right) {
  animation: ribbonLeft 0.2s linear;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}

.badge .ribbon.is-right {
  transform: rotate(-30deg);
  margin-top: 10px;
  margin-left: 1px;
  z-index: -2;
  box-shadow: none;
  animation: ribbonRight 0.2s ease-in;
  animation-delay: 0.35s;
  animation-fill-mode: forwards;
}

.badge .ribbon:after,
.badge .ribbon:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  bottom: -5px;
}

.badge .ribbon:after {
  border-width: 5px 5px 0 0;
  border-color: #6F5BEB transparent transparent transparent;
  left: 0;
}

.badge .ribbon:before {
  border-width: 0 5px 5px 0;
  border-color: transparent #6F5BEB transparent transparent;
  right: 0;
}

.badge.is-lg {
  width: 21.6px;
  height: 21.6px;
}

.badge.is-lg .ribbon {
  width: 18px;
  height: 27px;
  margin-top: 9px;
  margin-left: 3.6px;
}

.badge.is-lg .ribbon.is-right {
  margin-top: 18px;
  margin-left: 1.8px;
}

.badge.is-lg .ribbon:after,
.badge.is-lg .ribbon:before {
  bottom: -9px;
}

.badge.is-lg .ribbon:after {
  border-width: 9px 9px 0 0;
}

.badge.is-lg .ribbon:before {
  border-width: 0 9px 9px 0;
}

@keyframes ribbon {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes ribbonLeft {
  0% {
    opacity: 0;
    transform: rotate(30deg) translate3d(0, -75%, 0);
  }

  30% {
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(30deg) translate3d(0, 0%, 0);
  }
}

@keyframes ribbonRight {
  0% {
    opacity: 0;
    transform: rotate(30deg) translate3d(-80%, -5px, 0);
  }

  50% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-30deg) translate3d(0%, 0%, 0);
  }
}




.box {
  position: relative;

}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #5b4380;
  ;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(60deg, #e94879 0%, #7d74e5 100%);
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}








.profile-card {
  /* width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px #9ecaed;*/
}


.card-header {

  padding: 30px 20px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #f54670, #545bea);
  ;
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}



.pic img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.tutor-name {
  font-family: 'Roboto';
  font-size: 3rem;
  margin: 10px 0;
  text-transform: uppercase;
}

.tutor-desc {
  text-align: center;

}

.location {
  display: none;
  margin: 10px 0;
  color: #6C72CB;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.icons a {
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.icons a:hover {
  color: #6C72CB;
}

.tutor-whatsapp {
  font-family: 'Raleway';
  font-size: 2rem;

}

.tutor-joinnow {
  font-family: 'Raleway';
  font-size: 2rem;
  margin-top: 10px
}

.contact-btn {
  display: inline-block;
  padding: 12px 50px;
  color: #ffffff;
  border: 0px solid #777a9e;
  border-radius: 6px;
  margin-top: 5px;
  transition: .3s linear;
  text-decoration: none;
  font-size: 2.5rem;
  background: linear-gradient(60deg, #505cee59 0%, #e9487933 100%);


  border-radius: 666px;
  background-color: #6f5beb3d;
  border: 4px solid #fff;
  box-sizing: content-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.contact-btn:hover {

  background: linear-gradient(60deg, #d24c8c 0%, #4d5cef 100%);
  color: #f2f2f2;
}

.card-footer {
  background: #EEEDF0;
  padding: 60px 10px;
}

.numbers {
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #CB69C1;
  font-weight: 500;
}

.item span {
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border {
  width: 2px;
  height: 30px;
  /*   background: #bbb; */
  background: linear-gradient(130deg, #74b9ff, #e66767);
}

.instagram-account {
  margin-top: 50px;
  font-size: 15px;
}

/*   


.phone-call 





 */

.phone-call {
  width: 50px;
  height: 50px;
  left: 20px;
  bottom: 20px;
  background: #10b418;
  position: fixed;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
  display: inline-block;
  line-height: 65px;
}

.phone-call:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -15px;
  left: -15px;
  background-color: #10b418;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  -webkit-animation: pulse 1s ease-out;
  animation: pulse 1.8s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



.extra-special {
  font-family: 'Raleway';
  font-size: 2rem;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale(0.3);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
  }

  75% {
    -webkit-transform: scale(0.9);
    opacity: 0.3;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  25% {
    transform: scale(0.3);
    opacity: 1;
  }

  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }

  75% {
    transform: scale(0.9);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}






















/* .ribbon-a   */


.ribbon-a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-family: 'Raleway';
}

.ribbon-a {
  --c: #d74f8a;

  padding: .6em 1.3em;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
  width: fit-content;
  box-sizing: border-box;

  margin-bottom: 50px;
}

.ribbon-a:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 50% 0 auto;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--c), #000 35%);
  clip-path: polygon(calc(100%/3) 0, calc(200%/3) 0, 100% 90%, 80% 85%, calc(200%/3) 100%, calc(100%/3) 0, calc(200%/3) 0, calc(100%/3) 100%, 20% 85%, 0 90%);
}

.ribbon-a:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(35% 35%, #0000 96%, #0003 97% 99%, #0000) var(--c);
  clip-path: polygon(100.00% 50.00%, 89.66% 55.22%, 98.30% 62.94%, 86.96% 65.31%, 93.30% 75.00%, 81.73% 74.35%, 85.36% 85.36%, 74.35% 81.73%, 75.00% 93.30%, 65.31% 86.96%, 62.94% 98.30%, 55.22% 89.66%, 50.00% 100.00%, 44.78% 89.66%, 37.06% 98.30%, 34.69% 86.96%, 25.00% 93.30%, 25.65% 81.73%, 14.64% 85.36%, 18.27% 74.35%, 6.70% 75.00%, 13.04% 65.31%, 1.70% 62.94%, 10.34% 55.22%, 0.00% 50.00%, 10.34% 44.78%, 1.70% 37.06%, 13.04% 34.69%, 6.70% 25.00%, 18.27% 25.65%, 14.64% 14.64%, 25.65% 18.27%, 25.00% 6.70%, 34.69% 13.04%, 37.06% 1.70%, 44.78% 10.34%, 50.00% 0.00%, 55.22% 10.34%, 62.94% 1.70%, 65.31% 13.04%, 75.00% 6.70%, 74.35% 18.27%, 85.36% 14.64%, 81.73% 25.65%, 93.30% 25.00%, 86.96% 34.69%, 98.30% 37.06%, 89.66% 44.78%);
}



.ribbon-c {
  background: #1a1c18;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);

  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.18em;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background: linear-gradient(60deg, #e94879 0%, #7d74e5 100%);
  border: 0px dashed #fff;


  background: linear-gradient(60deg, #5d5ae4 0%, #cb4c90 100%);
  font-family: 'Raleway';
  font-size: 20px;
  margin-top: 1rem;
}



@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }

  50% {
    background-position: right bottom;
  }

  75% {
    background-position: right top;
  }

  100% {
    background-position: left top;
  }
}

.tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Allows wrapping of tags to the next line */
}

.tag {
  background-color: #8355c7;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  text-transform: capitalize;
}

/* @keyframes expandWidth {
  0% {
    max-width: 1200px;
  }

  100% {
    max-width: 100%;
  }
} */

@media (max-width: 768px) {
  .ribbon.ribbon-top-left {
    display: none;
  }
}

@media (min-width: 769px) {

  /* Adjust min-width as needed for your definition of non-mobile */
  .ribbon-c {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .column {
    margin-bottom: 20px;
  }
}